
<div class="container">
  <div class="signup">
    <div class="first">Sign Up<div>

    <input type="text" onchange="alert()" class="form-control" placeholder="FirstName......." />
    <input type="text" class="form-control" placeholder="LastName......." />
    <input type="text" class="form-control" placeholder="Country......." />
    <input type="text" class="form-control" placeholder="Email......." />
    <input type="text" class="form-control" placeholder="Password......." />
    <input type="text" class="form-control" placeholder="ConformPassword......." />

    <button class="btn btn-info button">SignUp</button>
  <div>
</div>

